@import "materials/main.scss";

.site-header {
    @extend .tintedGlass;
    border-top: 0px solid;
    border-radius: 14px;
    font-weight: bold;
    z-index: 999999999;
}

.site-nav {
    margin-right: 20px;
}

.site-nav .page-link {
    color: #ddd3f4 !important;
    line-height: 1.5;
    padding: 5px 10px;
    margin-left: 20px;
}

.site-title {
    color: $white1 !important;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 0;
}

#loginArea {
    margin-left: 20px;
}

.site-title,
.site-title:visited,
.site-nav,
.page-link {
    font-weight: bolder;
}

@media screen and (max-width: fit-content) {
    .site-title {
        padding-right: 45px;
    }
}

.site-header .wrapper {
    max-width: fit-content !important;
}